<div class="card grid" data-aos="flip-right">
  <h3 class="project-head">BMI Calculator</h3>
  <div class="tech-used">
    <div class="tech-container">
      <p class="tech-text">Flutter</p>
    </div>
    <div class="tech-container">
      <p class="tech-text">Dart</p>
    </div>
  </div>
  <div class="project-line"></div>
  <p class="react-app">
    Flutter-based BMI calculator app using Dart, providing instant and accurate
    BMI calculation by entering height and weight in a user-friendly interface.
  </p>
  <button class="visit-project">
    <a class="redirect" href="https://clinquant-sunflower-f1edb0.netlify.app"
      >See more</a
    >
  </button>
</div>
